# Build artifacts
bin/
obj/
*.exe
*.dll
*.pdb
*.cache

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Visual Studio files
.vs/
*.suo
*.user
*.sln.docstates
*.userprefs

# Resharper
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user

# NuGet
*.nupkg
packages/
